:root {
  --background-color-1: #283944;
  --background-color-2: #000;
  --primary-color-1: #01ff89;
  --primary-color-2: #7a5fff;
  --primary-color-semi-transparent-1: rgba(1, 255, 137, 0.3);
  --primary-color-semi-transparent-2: rgba(122, 95, 255, 0.3);
  --animation-duration: 4s;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle at 50% 50%,
    var(--background-color-1),
    var(--background-color-2)
  );
}

@keyframes swaying {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -20px;
  }
}
.cell-wrapper {
  width: 75vmin;
  position: relative;
  animation: swaying var(--animation-duration) infinite;
}

@keyframes core {
  0%,
  100% {
    background-position: 0% 0%;
    height: 20%;
    box-shadow: 0 0 50px 50px var(--primary-color-semi-transparent-1);
  }
  50% {
    background-position: 100% 100%;
    height: 22%;
    box-shadow: 0 0 50px 50px var(--primary-color-semi-transparent-2);
  }
}
.cell-core {
  width: 20%;
  border-radius: 50%;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: linear-gradient(var(--primary-color-1), var(--primary-color-2));
  background-size: 150% 150%;
  animation: core var(--animation-duration) infinite;
}

@keyframes drop-shadow {
  0%,
  100% {
    filter: drop-shadow(0 0 10px var(--primary-color-1));
  }
  50% {
    filter: drop-shadow(0 0 10px var(--primary-color-2));
  }
}
.cell {
  animation: drop-shadow var(--animation-duration) infinite;
}

@keyframes morph {
  0%,
  100% {
    d: path(
      'M 300 68.5 C 292.328 68.5 284.695 68.881 277.125 69.633 C 269.556 70.386 262.05 71.509 254.633 72.992 C 247.217 74.475 239.89 76.318 232.678 78.511 C 225.466 80.704 218.368 83.247 211.411 86.128 C 204.455 89.01 197.638 92.231 190.988 95.78 C 184.338 99.329 177.853 103.206 171.56 107.402 C 165.267 111.597 159.166 116.111 153.281 120.932 C 147.397 125.752 141.73 130.88 136.305 136.305 C 127.625 144.985 119.705 154.285 112.588 164.102 C 105.471 173.919 99.157 184.253 93.69 194.998 C 88.222 205.743 83.601 216.9 79.869 228.364 C 76.137 239.829 73.295 251.6 71.386 263.574 C 69.476 275.548 68.5 287.725 68.5 300 C 68.5 304.384 68.625 308.755 68.872 313.109 C 69.119 317.463 69.488 321.8 69.979 326.115 C 70.469 330.43 71.08 334.722 71.809 338.988 C 72.538 343.254 73.386 347.494 74.351 351.701 C 75.316 355.909 76.397 360.085 77.593 364.224 C 78.789 368.364 80.099 372.467 81.522 376.53 C 82.946 380.592 84.482 384.613 86.128 388.589 C 87.775 392.564 89.532 396.493 91.398 400.372 C 93.264 404.251 95.239 408.079 97.321 411.852 C 99.402 415.625 101.591 419.342 103.884 423 C 106.177 426.657 108.575 430.254 111.076 433.786 C 113.576 437.319 116.18 440.786 118.884 444.183 C 121.589 447.581 124.394 450.909 127.298 454.163 C 130.202 457.416 133.205 460.595 136.305 463.695 C 139.198 466.588 142.16 469.397 145.188 472.12 C 148.215 474.843 151.308 477.479 154.461 480.029 C 157.615 482.578 160.83 485.039 164.102 487.412 C 167.375 489.784 170.704 492.067 174.087 494.259 C 177.471 496.452 180.907 498.553 184.394 500.562 C 187.88 502.571 191.416 504.488 194.998 506.31 C 198.58 508.133 202.207 509.861 205.876 511.494 C 209.546 513.127 213.257 514.664 217.006 516.105 C 220.756 517.545 224.543 518.887 228.364 520.131 C 232.186 521.375 236.041 522.52 239.927 523.565 C 243.813 524.61 247.729 525.554 251.672 526.396 C 255.614 527.238 259.583 527.978 263.574 528.614 C 267.566 529.251 271.58 529.784 275.612 530.211 C 279.645 530.639 283.696 530.961 287.762 531.176 C 291.828 531.392 295.908 531.5 300 531.5 C 307.672 531.5 315.305 531.119 322.875 530.366 C 330.444 529.614 337.95 528.491 345.367 527.008 C 352.783 525.525 360.11 523.682 367.322 521.489 C 374.534 519.296 381.632 516.753 388.589 513.872 C 395.545 510.99 402.362 507.769 409.012 504.22 C 415.662 500.671 422.147 496.794 428.44 492.598 C 434.733 488.403 440.834 483.889 446.719 479.068 C 452.603 474.248 458.27 469.12 463.695 463.695 C 469.12 458.27 474.248 452.603 479.068 446.719 C 483.889 440.834 488.403 434.733 492.598 428.44 C 496.794 422.147 500.671 415.662 504.22 409.012 C 507.769 402.362 510.99 395.545 513.872 388.589 C 516.753 381.632 519.296 374.534 521.489 367.322 C 523.682 360.11 525.525 352.783 527.008 345.367 C 528.491 337.95 529.614 330.444 530.366 322.875 C 531.119 315.305 531.5 307.672 531.5 300 C 531.5 292.328 531.119 284.695 530.366 277.125 C 529.614 269.556 528.491 262.05 527.008 254.633 C 525.525 247.217 523.682 239.89 521.489 232.678 C 519.296 225.466 516.753 218.368 513.872 211.411 C 510.99 204.455 507.769 197.638 504.22 190.988 C 500.671 184.338 496.794 177.853 492.598 171.56 C 488.403 165.267 483.889 159.166 479.068 153.281 C 474.248 147.397 469.12 141.73 463.695 136.305 C 456.462 129.072 448.798 122.367 440.763 116.214 C 432.728 110.061 424.322 104.461 415.606 99.438 C 406.89 94.415 397.864 89.97 388.589 86.128 C 379.313 82.286 369.787 79.047 360.073 76.435 C 350.358 73.823 340.455 71.84 330.422 70.509 C 320.39 69.178 310.229 68.5 300 68.5 C 300 68.5 300 68.5 300 68.5'
    );
  }
  50% {
    d: path(
      'M 300.02 68.46 C 291.5 37.82 283.08 41.14 274.8 69.82 C 266.51 57.91 258.36 71.62 250.36 73.82 C 242.36 86.79 234.51 60.02 226.85 80.28 C 219.18 85.08 211.69 100.13 204.41 89.08 C 197.12 90.94 190.04 118.23 183.18 100.08 C 176.3 112.88 169.68 129.34 163.3 113.14 C 156.91 128.97 150.78 114.51 144.91 128.14 C 139.05 120.47 133.46 107.89 128.16 144.89 C 122.84 164.61 117.84 176.72 113.16 163.28 C 108.48 163.01 104.1 186.43 100.1 183.16 C 96.1 196.86 92.41 175.74 89.1 204.39 C 85.8 221.83 82.85 228.76 80.3 226.83 C 72.456 250.426 68.471 275.134 68.5 300 C 68.48 305.74 68.67 311.4 69.07 316.98 C 69.47 322.56 70.067 328.08 70.86 333.54 C 71.65 343.24 72.63 349.18 73.8 349.74 C 74.67 366.89 75.65 360.38 76.73 360.64 C 77.81 358.74 78.99 356.65 80.26 373.25 C 81.54 373.54 82.91 390.39 84.38 384.65 C 85.85 381.84 87.41 400.77 89.06 395.65 C 90.72 394.77 92.46 401.1 94.3 401.77 C 96.13 424.63 98.07 423.41 100.07 416.88 C 102.08 414.95 104.17 430.88 106.35 426.88 C 108.53 428.66 110.79 421.51 113.13 436.74 C 115.47 426.8 117.89 426.47 120.38 432.95 C 122.88 434.65 125.45 441.22 128.1 455.13 C 128.98 458.17 129.87 461.42 130.77 464.53 C 131.67 467.64 132.58 470.6 133.5 473.08 C 135.33 476.5 137.19 486.97 139.08 481.73 C 140.97 478.39 142.9 485.31 144.85 471.88 C 147.79 464.67 150.79 483.96 153.85 481.4 C 156.92 484.15 160.05 469.72 163.24 486.85 C 166.43 475.29 169.69 496.11 173 498.11 C 176.31 500.99 179.69 510.32 183.12 499.91 C 186.57 527.22 190.03 512.35 193.57 513.67 C 197.11 508.24 200.7 489.3 204.35 510.92 C 207.99 523.79 211.68 516.05 215.43 508.99 C 219.17 523.98 222.95 519.49 226.79 519.72 C 230.62 520.48 234.54 518.56 238.42 518.23 C 242.3 517.9 246.3 519.18 250.3 526.18 C 258.3 524.79 266.45 536.18 274.74 530.18 C 283.02 537.09 291.44 543.1 299.96 531.54 C 308.48 540.41 316.9 543.41 325.18 530.18 C 333.47 518.81 341.62 533.18 349.62 526.18 C 357.62 520.86 365.47 556.08 373.13 519.72 C 380.8 526.25 388.29 489.35 395.57 510.92 C 402.86 523.32 409.94 529.97 416.8 499.92 C 423.68 508.49 430.3 465.05 436.68 486.86 C 443.07 491.98 449.2 445.48 455.07 471.86 C 460.93 491.11 466.52 458.49 471.82 455.11 C 477.14 476.57 482.14 438.91 486.82 436.72 C 491.5 442.44 495.88 417.33 499.88 416.84 C 503.88 405.03 507.58 407.28 510.88 395.61 C 514.18 383.94 517.13 395.71 519.68 373.17 C 522.23 356.58 524.39 354.87 526.14 349.66 C 527.909 341.591 529.245 333.432 530.14 325.22 C 531.048 316.844 531.502 308.425 531.5 300 C 531.5 300 531.5 300 531.5 300 C 531.522 291.576 531.088 283.157 530.2 274.78 C 529.28 266.49 527.95 262.02 526.2 250.34 C 524.45 217.14 522.29 242.28 519.74 226.83 C 517.19 209.27 514.24 213.13 510.94 204.39 C 507.64 229.63 503.94 204.16 499.94 183.16 C 495.93 163.62 491.59 161.47 486.88 163.28 C 482.17 165.09 477.17 205.01 471.88 144.89 C 466.58 111.05 460.99 120.14 455.13 128.14 C 449.26 98.59 443.13 85.45 436.74 113.14 C 430.36 97.52 423.72 89.86 416.86 100.08 C 410 72.77 402.92 82.08 395.63 89.08 C 388.35 63.28 380.86 64.28 373.19 80.28 C 365.53 82.4 357.68 77.56 349.68 73.82 C 341.68 90.7 333.53 77.63 325.24 69.82 C 316.96 84.9 308.54 80.21 300.02 68.46'
    );
  }
}
.cell-path {
  animation: morph var(--animation-duration) infinite;
}
