---
import PageLayout from '../../layouts/PageLayout.astro'
import { meetingPoint } from '../../data/pages'
import './style.css'

const { title, description } = meetingPoint
---

<PageLayout metaTitle={title} metaDescription={description}>
  <div class="canvas">
    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth"></div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="ninth">
      <div class="cornersWrapper">
        <div class="corner is-large"></div>
        <div class="corner is-medium"></div>
        <div class="corner is-small"></div>
      </div>
    </div>

    <div class="circle is-first"></div>
    <div class="circle is-second"></div>
    <div class="circle is-third"></div>
    <div class="circle is-fourth"></div>
    <div class="circle is-fifth"></div>
    <div class="circle is-sixth"></div>
    <div class="circle is-seventh"></div>
    <div class="circle is-eighth"></div>

    <div class="meetingPoint"></div>
  </div>
</PageLayout>
