---
import PageLayout from '../../layouts/PageLayout.astro'
import { energyPyramid } from '../../data/pages'
import './style.css'
---

<PageLayout metaTitle={energyPyramid.title} metaDescription={energyPyramid.description}>
  <div class="canvas">
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>
    <div class="energy-bar"></div>

    <div class="pyramid">
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
      <div class="pyramid-bar"></div>
    </div>
  </div>
</PageLayout>
