<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CodePen experiments</title>
  </head>
  <body>
    <h1>CodePen experiments</h1>
    <nav>
      <ul>
        <li>
          <a href="./fevershape-001">FeverShape 001</a>
        </li>
        <li>
          <a href="./fevershape-002">FeverShape 002</a>
        </li>
        <li>
          <a href="./fevershape-003">FeverShape 003</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
