---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout
  metaTitle="CodePen experiments"
  metaDescription="Animated SVG illustration with geometric designs"
>
  <h1>CodePen experiments</h1>
  <nav>
    <ul>
      <li>
        <a href="./fevershape-001">FeverShape 001</a>
      </li>
      <li>
        <a href="./fevershape-002">FeverShape 002</a>
      </li>
      <li>
        <a href="./fevershape-003">FeverShape 003</a>
      </li>
    </ul>
  </nav>
</PageLayout>
