---
import PageLayout from '../layouts/PageLayout.astro'
import { pens } from '../data/pages'
import './style.css'
---

<PageLayout
  metaTitle="CodePen Experiments"
  metaDescription="Animated SVG illustration with geometric designs"
>
  <h1>
    <img class="emoji" src="./test-tube-emoji.png" alt="" width="180" height="180" />
    <br />CodePen Experiments
  </h1>

  <nav>
    <ul>
      {
        pens.map(pen => (
          <li class="pen">
            <h2 class="pen-title">{pen.title}</h2>
            <p class="pen-description">{pen.description}</p>
            <div class="pen-tags">
              {pen.tags.map(tag => (
                <span class="pen-tag">{tag}</span>
              ))}
            </div>
            <a class="pen-link" href={pen.url}>
              SHOW
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</PageLayout>
