:root {
  --background-color: #f3f6f9;
  --primary-color: #333;
  --tag-background: rgba(0, 0, 0, 0.08);
  --link-color: #1976d2;
  --link-color-semi-transparent: rgba(25, 118, 210, 0.5);
  --link-background-color-hover: rgba(25, 118, 210, 0.04);
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 16px;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.emoji {
  height: auto;
  width: 100%;
  max-width: 60px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-inline-start: 0;
  padding-bottom: 16px;
}

.pen {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: var(--white);
}

.pen-title {
  font-size: 24px;
  margin: 0;
}

.pen-description {
  font-size: 14px;
  margin: 4px 0 0;
  line-height: 1.43;
  margin-bottom: 16px;
}

.pen-tags {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pen-tag {
  padding: 0 8px;
  background-color: var(--tag-background);
  font-size: 13px;
  display: grid;
  place-items: center;
  height: 24px;
  border-radius: 16px;
}

.pen-link {
  text-decoration: none;
  align-self: flex-end;
  display: grid;
  place-items: center;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 4px;
  margin-top: 24px;
  transition: 300ms;
  border: 1px solid var(--link-color-semi-transparent);
  color: var(--link-color);
}

.pen-link:hover {
  background-color: var(--link-background-color-hover);
  border: 1px solid var(--link-color);
}

@media (min-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}
