---
const { metaTitle, metaDescription } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{metaTitle}</title>
    <meta content={metaDescription} name="description" />
    <link rel="icon" href="./test-tube-emoji.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
