---
import PageLayout from '../../layouts/PageLayout.astro'
import { behindBars } from '../../data/pages'
import './style.css'
---

<PageLayout metaTitle={behindBars.title} metaDescription={behindBars.description}>
  <div class="canvas-wrapper">
    <div class="canvas">
      <div class="bar is-first"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar is-last"></div>

      <div class="circle is-first"></div>
      <div class="circle is-last"></div>
    </div>
  </div>
</PageLayout>
